@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;   
}

:root {
    /* --hue-neutral:2001;
    --hue-wrong: 0;
    --hue-correct:145; */
}

.hide {
    display: none !important;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-image: url('pozadi.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 22%; /*50*/
    font-size: 12px;
    font-family: 'segoe ui';
    transition: background-position-y 2s;
}

button {
    cursor: pointer;
}
       
#tlacitko-fullscreen {
    background-color: transparent;
    color: white;
    opacity: 0.4;
    font-size: 3em;
    position: absolute;
    bottom: 0;
    right:0;
    padding: 0.5em;
    cursor: pointer;
}

#tlacitko-jsem-vedouci {
    color: white;
    opacity: 0.4;
    font-size: 3em;
    position: absolute;
    bottom: 0;
    left:0;
    padding: 0.5em;
    cursor: pointer;

}


/* SEKCE UVOD */

section.uvod {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

section.uvod > header  {
}

section.uvod > header > h1 {
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 0px 8px black;
    color: white;
}

section.uvod > header > .skupina {
    text-align: center;
}

section.uvod > header > .skupina > input {
    font-size: 2em;
    font-weight: 400;
    text-align: center;
    padding: 1em;
    margin-top: 3em;
    margin-bottom: 2em;
    width: 30em;
    border: white;
}

/* SEKCE ČEKÁNÍ NA SKUPINU*/

section.cekani-na-skupinu {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}


section.cekani-na-skupinu > header > h1 {
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 0px 8px black;
    color: white;
}

/* SEKCE PŘED VYHODNOCENÍM*/

section.pred-vyhodnocenim {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}


section.pred-vyhodnocenim > header > h1 {
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 0px 8px black;
    color: white;
}

/* SEKCE MOZNOSTI */

section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

section > .radek-1,
section > .radek-2,
section > .radek-3 {
    padding: 3vw;
    padding-bottom: 0;
}

section.rozhodovani > .radek-1  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

section.rozhodovani > .radek-1 > h2 {
    font-size: 3em;
    font-weight: 400;
    text-align: right;
    text-shadow: 0px 0px 8px black;
    color: white;
    width: 65vw;
}

section.rozhodovani > .radek-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
}

section.rozhodovani > .radek-2 > button {
    border:solid 1.5px hsl(204deg 94% 13%); 
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height:1.5em;
    background: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(10px);
    color:hsl(204deg 94% 13%);
    outline: none;
    font-size: 2em;
    font-weight: 500;
    
    width:29vw;
    padding: 3vw;
    font-size: 2.2em;
}

section.rozhodovani > .radek-2 > button:last-child {
}

section.rozhodovani > .radek-3 {
    flex-grow: 1;
}

section.rozhodovani > .radek-3 > button {
    /* margin: 0 auto;
    display: block;
    padding: 20px 75px;
    border:solid white;
    font-size: 1.5em;
    background: hsla(0,0%,0%,0);
    color:white;
    text-shadow: 0px 0px 8px black;
    font-weight: bold;
    cursor: pointer; */
}


/* SEKCE VYHODNOCENI */


section.vyhodnoceni {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3vw;
}

section.vyhodnoceni > .radek-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.vyhodnoceni > .radek-1 > h2 {
    padding: 20px 40px;
    margin: 0;
    border:solid white;
    font-size: 3.5em;
    background: hsla(0,0%,0%,0);
    color:white;
    text-shadow: 0px 0px 7px black;
    text-align: center;
    width: fit-content;
    margin-bottom: 2vw;
}

section.vyhodnoceni > .radek-1 > p {
    font-size: 2em;
    background: hsla(0,0%,0%,0);
    color:white;
    text-shadow: 0px 0px 7px black;
    text-align: center;
    margin: 0;
}

section.vyhodnoceni > .radek-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.vyhodnoceni > .radek-2 > p {
    border:solid 1.5px hsl(204deg 94% 13%); 
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    text-align: center;
    line-height:1.5em;
    background: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(10px);
    color:hsl(204deg 94% 13%);
    outline: none;
    font-size: 1.8em;
    flex-grow: 1;
    padding: 2vw;
    margin:1vw
}

section.vyhodnoceni > #restart-btn {
    background-color: transparent;
    color: white;
    opacity: 0.4;
    font-size: 3em;
    position: absolute;
    bottom: 0;
    right:0;
    padding: 0.5em;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 8px;
    }

    section.rozhodovani > .radek-1 {
        flex-grow: 1;
    }

    section.rozhodovani > .radek-1 > h2 {
        width: 90vw;
    }

    section.rozhodovani > .radek-2 {
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 2;
    }

    section.rozhodovani > .radek-2 > button{
        width: 94vw
    }
}

/* SEKCE PERSONA */

.pozadi-bile {
    background: hsla(0, 0%, 100%, 1);
}
.pozadi-bile-pruhledne50 {
    background: hsla(0, 0%, 100%, 0.5);
}
.pozadi-bile-pruhledne30 {
    background: hsla(0, 0%, 100%, 0.3);
}

.pozadi-cerne {
    background: hsla(0, 0%, 0%, 1);
}
.pozadi-cerne-pruhledne50 {
    background: hsla(0, 0%, 0%, 0.5);
}
.pozadi-cerne-pruhledne30 {
    background: hsla(0, 0%, 0%, 0.3);
}

.pozadi-nastylovat-rozmazane {
    backdrop-filter: blur(3px);
}

.ramecek-bily {
    border: solid 1.5px hsl(204deg, 94%, 93%);  
}

.ramecek-cerny {
    border: solid 1.5px hsl(204deg, 94%, 13%);  
}

.ramecek-nastylovat-nerovne {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.padding-1em {
    padding: 1em;
}

.padding-2em {
    padding: 2em;
}

.text-bily {
    color: white;
}

.text-cerny {
    color: black;
}

.text-se-stinem {
    text-shadow: 0px 0px 7px black;
}

section.persona{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.pro-vertikalni-zarovnani{
    max-width: 600px;
    width: 75%;
}

.nadpis > h2{
    font-size: 4em;
    opacity: 0.4;    
}

.medailonek{    
    display: flex;
    justify-content: space-around;
    align-items: stretch;    
    padding: 2em;    
    /* border:solid 1.5px hsl(204deg 94% 13%);  
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border-color: white; */
    /* background: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(10px);
    color:hsl(204deg 94% 13%); */
    /* outline: none; */
}

.medailonek > .nalevo {
    flex: 1.5;
    padding-right: 2em;
}

.medailonek > .napravo {
    flex: 5;
}

.medailonek > .nalevo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.napravo > h2{
    font-size: 2.5em;
    margin-top: 0px;
    margin-bottom: 5px;
}

.napravo > p{
    font-size: 2em;
    font-weight: 500;
}

section.persona >.dopady{
    /* max-width: 900px;
    width: 90%;
    border:solid 1.5px hsl(204deg 94% 13%); 
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height:1.5em;
    background: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(10px);
    color:hsl(204deg 94% 13%); */    
}
section.persona > .dopady >p{
    font-size: 2.5em;
    font-weight: 400;
    text-align:justify
}

