@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;   
}

:root {
    /* --hue-neutral:2001;
    --hue-wrong: 0;
    --hue-correct:145; */
}

.hide {
    display: none !important;
}

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    background-image: url('pozadi.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 22%; /*50*/
    font-size: 12px;
    font-family: 'segoe ui';
    transition: background-position-y 2s;
}

button {
    cursor: pointer;
}


/* SEKCE UVOD */

section.uvod {
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
}

section.uvod > header  {
}

section.uvod > header > h1 {
    font-size: 5em;
    font-weight: 400;
    text-align: center;
    text-shadow: 0px 0px 8px black;
    color: white;
}

section.uvod > header > button {
    display: block;
    margin: 0 auto;
    padding: 20px 75px;
    border:solid white;
    font-size: 1.5em;
    background: hsla(0,0%,0%,0);
    color:white;
    text-shadow: 0px 0px 8px black;
    font-weight: bold;
} 
       
section.uvod > #tlacitko-fullscreen {
    background-color: transparent;
    color: white;
    opacity: 0.4;
    font-size: 3em;
    position: absolute;
    bottom: 0;
    right:0;
    padding: 0.5em;
    cursor: pointer;
}


/* SEKCE MOZNOSTI */

section {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

section > .radek-1,
section > .radek-2,
section > .radek-3 {
    padding: 3vw;
    padding-bottom: 0;
}

section.rozhodovani > .radek-1  {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

section.rozhodovani > .radek-1 > h2 {
    font-size: 3em;
    font-weight: 400;
    text-align: right;
    text-shadow: 0px 0px 8px black;
    color: white;
    width: 65vw;
}

section.rozhodovani > .radek-2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
}

section.rozhodovani > .radek-2 > button {
    border:solid 1.5px hsl(204deg 94% 13%); 
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    line-height:1.5em;
    background: hsla(0, 0%, 100%, 0.5);
    backdrop-filter: blur(10px);
    color:hsl(204deg 94% 13%);
    outline: none;
    font-size: 2em;
    font-weight: 500;
    
    width:29vw;
    padding: 3vw;
    font-size: 2.2em;
}

section.rozhodovani > .radek-2 > button:last-child {
}

section.rozhodovani > .radek-3 {
    flex-grow: 1;
}

section.rozhodovani > .radek-3 > button {
    /* margin: 0 auto;
    display: block;
    padding: 20px 75px;
    border:solid white;
    font-size: 1.5em;
    background: hsla(0,0%,0%,0);
    color:white;
    text-shadow: 0px 0px 8px black;
    font-weight: bold;
    cursor: pointer; */
}


/* SEKCE VYHODNOCENI */


section.vyhodnoceni {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 3vw;
}

section.vyhodnoceni > .radek-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.vyhodnoceni > .radek-1 > h2 {
    padding: 20px 40px;
    margin: 0;
    border:solid white;
    font-size: 3.5em;
    background: hsla(0,0%,0%,0);
    color:white;
    text-shadow: 0px 0px 7px black;
    text-align: center;
    width: fit-content;
    margin-bottom: 2vw;
}

section.vyhodnoceni > .radek-1 > p {
    font-size: 2em;
    background: hsla(0,0%,0%,0);
    color:white;
    text-shadow: 0px 0px 7px black;
    text-align: center;
    margin: 0;
}

section.vyhodnoceni > .radek-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.vyhodnoceni > .radek-2 > p {
    border:solid 1.5px hsl(204deg 94% 13%); 
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    text-align: center;
    line-height:1.5em;
    background: hsla(0, 0%, 100%, 0.3);
    backdrop-filter: blur(10px);
    color:hsl(204deg 94% 13%);
    outline: none;
    font-size: 1.8em;
    flex-grow: 1;
    padding: 2vw;
    margin:1vw
}

section.vyhodnoceni > #restart-btn {
    background-color: transparent;
    color: white;
    opacity: 0.4;
    font-size: 3em;
    position: absolute;
    bottom: 0;
    right:0;
    padding: 0.5em;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    body {
        font-size: 8px;
    }

    section.rozhodovani > .radek-1 {
        flex-grow: 1;
    }

    section.rozhodovani > .radek-1 > h2 {
        width: 90vw;
    }

    section.rozhodovani > .radek-2 {
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 2;
    }

    section.rozhodovani > .radek-2 > button{
        width: 94vw
    }
}


